# WK1 pandas Basics <hr style="border:2.5px solid #126782"></hr>

Name: **Tonie Eduard D. Deocampo**<br>
Course: **BSCpE2A**

pandas - derived from **Panel Data**

Import **pandas** and **numpy** library

In [40]:
import pandas as pd
import numpy as np

Check the **version** of pandas

In [41]:
pd.__version__

'2.2.3'

# Creating Series Object

### List to series

Create a List named **employee_names**

In [42]:
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names

['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']

Verify that the data type of employee_names object is a **list**

In [43]:
type(employee_names)

list

Create **pandas Series object** named **employee_names_Series** containing the elements from the employee_names list

In [44]:
employee_names_series = pd.Series(employee_names)
employee_names_series

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

Verify that the date type of employee_names_series object is a **pandas series**

In [45]:
type(employee_names_series)

pandas.core.series.Series

Create a Series object named **work_experience_years** directly using the structure **pd.Series ([...])** containing the elements:5, 8, 3, and 10

In [46]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

# Array to Series

Create a **NumPy Array** object named **array_age**

In [47]:
array_age = np.array([50,53,35,43])
array_age

array([50, 53, 35, 43])

Verify that the data type of array_age object is a **NumPy Array**

In [48]:
type(array_age)

numpy.ndarray

Create a **pandas Series** object named **series_age** from array_age

In [49]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

Verify that the data type of series_age object is **Series**

In [50]:
type(series_age)

pandas.core.series.Series

Use the **print()** function to display the content of series_age

In [51]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int64

# pandas Attributes

Create a **Pandas Series** object named **work_experience_years** containing the elements: 5, 8, 3, and 10

In [52]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

Assign letters a, b, c, d as **index** of the Series

In [53]:
work_experience_years = pd.Series([5,8,3,10],
                                  index=['a', 'b', 'c', 'd'])
work_experience_years

a     5
b     8
c     3
d    10
dtype: int64

Check the **total number of elements** of the Series

In [54]:
work_experience_years.size

4

Verify that the data stored in the **Series** is an **Array**

In [55]:
work_experience_years.values

array([ 5,  8,  3, 10])

Check the data type of the **elements** stored in the Series

In [56]:
work_experience_years.dtype

dtype('int64')

Assign **Work Experience (Yrs.)** as a **name** of the Series

In [57]:
work_experience_years.name = "Work Experience (Yrs.)"

Display the **name** of Series

In [58]:
work_experience_years.name

'Work Experience (Yrs.)'

Display the **Series** itself, to see the **name** appear below the data values it contains

In [59]:
work_experience_years

a     5
b     8
c     3
d    10
Name: Work Experience (Yrs.), dtype: int64

# Creating a series of object from a Dictionary

Create a **dictionary** named **workers_age**
with names of the employees as keys and age as values

In [60]:
workers_age = {'Amy White':50,
               'Jack Stewart':53,
               'Richard Lauderdale:':35,
               'Sara Johnson':43}
workers_age

{'Amy White': 50,
 'Jack Stewart': 53,
 'Richard Lauderdale:': 35,
 'Sara Johnson': 43}

Verify that the data type of workers_age object is a **dictionary**

In [61]:
type(workers_age)

dict

Create a **pandas Series** from workers_age, giving it the same name - **workers_age**

In [62]:
workers_age = pd.Series(workers_age)
workers_age

Amy White              50
Jack Stewart           53
Richard Lauderdale:    35
Sara Johnson           43
dtype: int64

Verify that the data type of workers_age object is a **pandas Series**

In [63]:
type(workers_age)

pandas.core.series.Series

Retrieve the **index** of workers_age

In [64]:
workers_age.index

Index(['Amy White', 'Jack Stewart', 'Richard Lauderdale:', 'Sara Johnson'], dtype='object')

# pandas Methods

Create a **pandas Series** named **employees_work_exp** from a dictionary
with names of the employees as keys and work experience as values

In [65]:
employees_work_exp = pd.Series({
'Amy White': 3,
'Jack Stewart': 5,
'Richard Lauderdale': 4.5,
'Sara Johnson': 22,
'Patrick Adams': 28,
'Jessica Baker': 14,
'Peter Hunt': 4,
'Daniel Lloyd': 6,
'John Owen': 1.5,
'Jennifer Phillips': 10,
'Courtney Rogers': 4.5,
'Anne Robinson': 2,
})

Extract the **top five** values from this Series

In [66]:
employees_work_exp.head()

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

Extract the **last five** rows from the Series

In [67]:
employees_work_exp.tail()

Daniel Lloyd          6.0
John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

Retrieve the first three records of the object

In [68]:
employees_work_exp.head(3)

Amy White             3.0
Jack Stewart          5.0
Richard Lauderdale    4.5
dtype: float64

Retrieve the last four records of the object

In [69]:
employees_work_exp.tail(4)

John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

Sort the Series by work experience in ascending order

In [70]:
employees_work_exp.sort_values()

John Owen              1.5
Anne Robinson          2.0
Amy White              3.0
Peter Hunt             4.0
Richard Lauderdale     4.5
Courtney Rogers        4.5
Jack Stewart           5.0
Daniel Lloyd           6.0
Jennifer Phillips     10.0
Jessica Baker         14.0
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

Sort the Series by work experience in descending order

In [71]:
employees_work_exp.sort_values(ascending=False)

Patrick Adams         28.0
Sara Johnson          22.0
Jessica Baker         14.0
Jennifer Phillips     10.0
Daniel Lloyd           6.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Courtney Rogers        4.5
Peter Hunt             4.0
Amy White              3.0
Anne Robinson          2.0
John Owen              1.5
dtype: float64

Sort the Series by index in from A-to-Z

In [72]:
employees_work_exp.sort_index()

Amy White              3.0
Anne Robinson          2.0
Courtney Rogers        4.5
Daniel Lloyd           6.0
Jack Stewart           5.0
Jennifer Phillips     10.0
Jessica Baker         14.0
John Owen              1.5
Patrick Adams         28.0
Peter Hunt             4.0
Richard Lauderdale     4.5
Sara Johnson          22.0
dtype: float64

Sort the Series by index in from Z-to-A

In [73]:
employees_work_exp.sort_index(ascending=False)

Sara Johnson          22.0
Richard Lauderdale     4.5
Peter Hunt             4.0
Patrick Adams         28.0
John Owen              1.5
Jessica Baker         14.0
Jennifer Phillips     10.0
Jack Stewart           5.0
Daniel Lloyd           6.0
Courtney Rogers        4.5
Anne Robinson          2.0
Amy White              3.0
dtype: float64

# pandas DataFrames

create the given example DataFrame

<img src="sample.png">

Method 1

In [74]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

Method 2

In [75]:
name = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
age = [50, 53, 35, 43]
work_exp = [5,8,3,10]

df = pd.DataFrame({
    "Name":name,
    "Age":age,
    "Working Experience (Yrs.)":work_exp
})
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10